<yzh428@uclive.ac.nz> <jackyzhang1501@gmail.com>
<ene41@uclive.ac.nz> <elise.n.2431@gmail.com>

Yuhao Zhang (yzh428) <yzh428@uclive.ac.nz>
Elise Newman (ene41) <ene41@uclive.ac.nz>
Caleb Cooper (cco139) <cco139@uclive.ac.nz>
Wen Sheng Thong (wst44) <wst44@uclive.ac.nz>
Isaac Macdonald (ima97) <ima97@uclive.ac.nz>
Lydia Jackson (lja128) <lja128@uclive.ac.nz>