.button {
    -fx-border-color: #70171e; /* Normal color */
    -fx-border-radius: 2px;
    -fx-background-color: #8f8f8f;
    -fx-background-radius: 2px;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #707070; /* Color when hovered */
}